
html, body {
    height: 100%;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
    /* background-color: #275b36; */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-areas: 
            "border-left main border-right";
    align-items: center;
    justify-content: center;
}


hr {
    color: white;
}

a { 
    text-decoration: none; 
    text-shadow: 2px 2px #2b2b2b; 
    color: white;
    padding: 4px;
}

a:hover { text-decoration:underline}

html {
    background-color: #1B4636;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.main-content {
    grid-area: main;
    justify-content: center;    /* Center Horizontally            */
}

.full-height {
    /* margin-top: 20%; */
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.home-button-group {
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
}


.home-button {
    text-decoration: none; 
    text-shadow: 2px 2px #2b2b2b;
    background-color: transparent; 
    border: none;
    color: white;
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
}

.current-button {
    border: none;
    /* border-radius: 4px; */
    background-color: transparent;
    padding-top: 3px;
    color: white;
    font-size: 16px;
}

.text-box {
    margin-left: 20%;
    margin-right: 20%;
}