html, body {
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
    background-color: #275b36;
    justify-content: center;    /* Center Horizontally            */
}

a {
    color:#A2AD59;
    text-decoration: none;
}

a:hover {
    color: gold;
}

.text-box {
    margin-left: 20%;
    margin-right: 20%;
}