html, body {
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
    background-color: #275b36;
    justify-content: center;    /* Center Horizontally            */
}

a {
    color:#A2AD59;
    text-decoration: none;
}

a:hover {
    color: gold;
}

.text-box {
    margin-left: 20%;
    margin-right: 20%;
}

.home-button-group {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-button {
    border: none;
    /* border-radius: 4px; */
    background-color: transparent;
    padding-top: 3px;
    color: #A2AD59;
    font-size: 16px;
    cursor: pointer;
}

.current-button {
    border: none;
    /* border-radius: 4px; */
    background-color: transparent;
    padding-top: 3px;
    color: white;
    font-size: 16px;
}