/********* GLOBALS ***********/

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font: arial;
    display: flex;
    margin: 0;
    /* background-color: #275b36; */
    /* grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
            "border-left main border-right";
    grid-template-columns: 1fr 2fr 1fr; */
    /* align-items: center;
    justify-content: center; */
}

.home-button-group {
    padding: 2px;
    position: fixed;
    z-index: -950;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    bottom: 10%;
    width: 100%;
}

.home-button {
    border: none;
    /* border-radius: 4px; */
    background-color: transparent;
    text-decoration: none; 
    text-shadow: 2px 2px #2b2b2b; 
    color: white;
    padding: 4px;
    font-size: 16px;
    cursor: pointer;
}

.home-button:hover {
    text-decoration: underline;
}

.current-button {
    /* border: none; */
    /* border-radius: 4px; */
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}



body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background: #c0392b;
    height:30px;
  }
  
  body::-webkit-scrollbar-track-piece
  {
     display:none;
  }

#header-div {
    position: relative;
    justify-content: right;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

#header-img {
    width: 20%;
    height: 20%;
    max-width: 133px;
    max-height: 52px;
}

/**************************************************/

h1 {
    text-decoration: none; 
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px #2b2b2b; 
    color: white;
    padding: 4px;
}

.about-selector-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-selector-header {
    font-size: min(4vw, 32px);
}

.about-selector {
    font-size: min(4vw, 32px);
    align-items: center;
    border: #fff;
    border-style: solid;
    border-width: 2px;
    padding: 4px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
}

select {
    text-shadow: 2px 2px #2b2b2b; 
    font-weight: bold;
    color: white;
    font: arial;
    border-color: transparent transparent #fff transparent;
    top: 7px;
    background-color: transparent;
    font-size: 28px;
}

a { 
    text-decoration: none; 
    text-shadow: 2px 2px #2b2b2b; 
    color: white;
    padding: 4px;
}

a:hover { text-decoration:underline}

body {
    background-image: url("./images/works_page-desk.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.main-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid;
}

.hide {
    display: none;
}

#content-container {
    /* height: 100%; */
    overflow-y: scroll;
    width: 70vw;
    border: #fff;
    border-style: solid;
    border-width: 2px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 65vh;
}

#about-page-content {
    display:block;
    margin: 2%
}

#works-page-content {
    display: none;
}

#image-foreground {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -900;
    pointer-events: none;
}

#image-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1000;
}

hr {
    color: white;
}

#works-list {
    font-size: calc(12px + 0.75vw);
    display: inline-flex;
    margin-left: 2%;
    width: 30%;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right-style: solid;
}
#works-content {
    font-size: calc(12px + 0.75vw);
    display: inline-flex;
    position: absolute;
    width: 45%;
    height: 65vh;
    overflow-y: scroll;
    margin-left: 2%;
}

dd {
    margin-left: 12px;
}

.hide {
    display: none;
}

dd a {
    margin-left: 0;
    overflow-x: hidden;
    display: block;
}

dd a:hover {
    background: transparent url('../img/basket.png') no-repeat 3px 170px;
}

@media screen and (max-width: 600px) {

    .full-height {
        /* margin-top: 20%; */
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
  }
