/********* GLOBALS ***********/

body{
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url("./images/background.jpg"); 
    background-position: center;     
    font: arial;
    display: flex;
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ffffffa3 #2b2b2b91;
}


body::-webkit-scrollbar {
    width: 0.7em;
    background: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background: #c0392b;
    height:30px;
  }
  
  body::-webkit-scrollbar-track-piece
  {
     display:none;
  }

/**************************************************/

.main-content {    
    color: white;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);    
    border-radius: 4px;
    width: 100%;    
    text-align: center;
    align-items: center;
    justify-content: center;    
    position: relative;
    display: block;
}

.hide {
    display: none;
}

#button-content {
    justify-items: center;
    justify-content: center;
    display: grid;
}

button {
    background-color: transparent;
    color: white;
    font-size: x-large;
    border: none;
    cursor: pointer;
    margin: 2%;
}

#shuffle-button:hover {
    background-color: #fff;
    color: black;
}

button #tip-button {
    width: 10%;
}

#back-button {
    display: none;    
    float: left;
    left: 0px;
    position: absolute;
    width: 20%;
    max-width: 74px;    
    margin: 0%;
    margin-left: 2%;
}

#shuffle-button {
    display:none;
    border:#fff;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
}

#game-content {
    display: none;
}

.creature-div {
    display: none;
}

img {
    max-width: 275px;
    width: 70%;
    height: auto;
}

.creature-image {
    opacity: 0.7;
}

img.resize {
    width: 275px; /* you can use % */
    height: auto;
}

h1 {
    text-shadow: 4px 4px 2px black;
    font-family: Caveat, cursive;
    font-size: 48px;
    margin-top: 0px;
}

h2 {
    font-family: Caveat, cursive;
    font-size: xx-large;
}

h3 {
    text-decoration:underline;
}


hr {
    color: white;
}

summary {
    font-size: larger;
}

ul {  
  list-style-position: inside;
}
