body {
    color: #888;
    background: #262626;
    margin: 0;
    padding: 40px;
    text-align: center;
    font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #canvas {
    width: 32px;
    height: 400px;
    position: absolute;
    top: 64px;
    left: 8%;
    text-align: center;
  }

  #myvideo {
    width: 100%;
  }

  #text-label {
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 20%;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    text-align: center;
  }