body {
    color: #888;
    background: #262626;
    margin: 0;
    padding: 40px;    
    font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
  }

  #canvas {
    position: absolute;
    top: 375px;
    left: 750px;
    text-align: center;
    z-index: 500;
    border-radius: 20px;

  }

  #mic-sensitivity {
    position: absolute;
    top: 352px;
    left: 704px;
    text-align: center;
    z-index: 500;
    background: #444;
    -webkit-appearance: none;
    height: 4px;
    
  }

  #mic-sensitvity::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height:15px; /* Slider handle height */
    background: #1e1e1e; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  #mic-sensitivity::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #1e1e1e; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #myvideo {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #text-label {
    z-index: 100;
    position: absolute;
    left: 150;
    top: 220;
    font-size: 86;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 4px 4px black;
  }

  .overlay-gif {
    position: absolute;
    top: 0; /* Adjust based on where you want the GIF */
    transform: translateY(-50%);
    width: 100px; /* Adjust size as needed */
    opacity: 0;
}

#static-gif {
    opacity: 0.2;
    width: 820px;
    height: 450px;
    position: absolute;
}

#tv-overlay {    
    width: 840px;
    height: 475px;
    position: absolute;
    z-index: 300;    
}

/* Keyframe animations */
@keyframes slideInOut {
    0% { left: -150px; top: 275px; opacity: 0; } /* Start offscreen to the left */
    10% { left: 420px; opacity: 1; } /* Slide into view */
    90% { left: 420px; opacity: 1; } /* Stay in view */
    100% { left: 990px; top: 275px; opacity: 0; } /* Slide out of view */
}

@keyframes slowDropFromTop {
  0% { left: 250px; top: -110px; opacity: 0; } /* Start offscreen to the left */
  10% { left: 250px; top: 180px; opacity: 1; } /* Slide into view */
  90% { left: 250px; top: 180px; opacity: 1; } /* Stay in view */
  100% { left: 250px; top: -110px; opacity: 0; } /* Slide out of view */
}

/* .show-sign {
  animation: slideInOut 5s ease forwards; /* Adjust duration */
} */

.show-gif {
    animation: slideInOut 5s ease forwards; /* Adjust duration */
}

@keyframes slide-in {
  from {
    transform: translatey(-100%); opacity: 1;
  }
  to {
    transform: translatey(0%); opacity: 1;
  }
}

/* ...and then apply it: */
.show-sign {
  width: 250px;
  animation: slowDropFromTop 5s;
}


.animate__animated.animate__shakeY {
  
}